get_voice_script/tiktok_voice
assembly_video/bg_audios
assembly_video/bg_videos
get_voice_script/reddit_voices
get_voice_script/criptoNews_voices
assembly_video/videos
get_images/images
get_voice_script/buffer_generateText
assembly_video/transitions

__pycache__
assembly_video/__pycache__
get_images/__pycache__
get_script/__pycache__
get_voice_script/tiktok_voice/__pycache__
teste.py
get_images/__pycache__/get_images.cpython-310.pyc
get_voice_script/__pycache__/get_voice_pt_script.cpython-310.pyc
